

#sign-in, #sign-up, #destinationForm, #change-password{
    position: absolute;
    z-index: 1;
    display:flex;
    top: 30%;
    left: 43%
}

.dropdown-menu {
    height: 200px;
    overflow-y: scroll;
  }

  #tagField {
    display: flex;
    
  }

  .dropdown-item {
      color: black
  }
  #sus {
      height: 20px
  }

  .navItems {
    margin-left: 20px;
    border: 0px solid black;

    background-color: transparent;

    background: linear-gradient(to right, transparent, transparent),
      linear-gradient(to right, black, black, black);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .navItems:hover,
  .navItems:focus {
    background-size: 0 0.1em, 100% 0.1em;
    cursor: pointer;
  }

  #navCont {
      display: flex;
      
  }